/* [[ ===== Google Fonts =====]] */

/* [[ =====  Universal Configurations=====]] */

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
   list-style: none;
}

body {
  text-rendering: optimizeLegibility;
}

html, body {
 min-height: 100%;
 background: #fff;
 color: #000;
}
	
/* [[ ===== Resonsive desing - 600 px=====]] */

@media only screen and (min-width: 37.5em) {
    /* [[ ===== Stuff =====]] */
}
